/* Following Mouse */
#followMouse {
    width: 300px;
    height: 300px;
    background-color: #99e87aec;
    border-radius: 50%;
    filter: blur(150px);
    position: absolute; /* 必须用 absolute 或 fixed */
    top: 0;
    left: 0;
    pointer-events: none; /* 不阻挡鼠标事件 */
    transition: transform 0.05s; /* 平滑移动，可选 */
    z-index: -1;
}

/* Color Theme */
:root {
    --main: #7bf74d;
    --text: #f2f2f2;
    --light: #bdf8a4;
    --dark: #4e9e2f;
}


/* Main Framming */
body {
    margin: 0;
    background: #000;
}
.main-screen {
    position: relative;
    background: #181c17d4;
    backdrop-filter: blur(10px);
    max-width: 100vw;
    max-height: 100vh;
    min-height: 100vh;
    width: 100%;
    height: 100vh;
}
.main-screen > .left {

}
.main-screen > .right {

}