/* Following Mouse */
#followMouse {
    width: 300px;
    height: 300px;
    background-color: #99e87aec;
    border-radius: 50%;
    filter: blur(150px);
    position: absolute; /* 必须用 absolute 或 fixed */
    top: 0;
    left: 0;
    pointer-events: none; /* 不阻挡鼠标事件 */
    transition: transform 0.05s; /* 平滑移动，可选 */
    z-index: -1;
}

/* Color Theme */
:root {
    --main: #7bf74d;
    --text: #f2f2f2;
    --desc: #effae7ac;
    --light: #bdf8a4;
    --dark: #4e9e2f;
}
::-webkit-scrollbar {
    width: 100%;
    height: 0px;
}


/* Main Framming */
* {
    scroll-behavior: smooth;
    color: var(--desc);
}
body {
    margin: 0;
    background: #000;
    font-family: "Saira", sans-serif;
}
.main-screen {
    position: relative;
    background: #181c17d4;
    backdrop-filter: blur(10px);
    max-width: 100vw;
    max-height: 100vh;
    min-height: 100vh;
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: start;
}
.main-screen-list {
    position: fixed;
    background: #181c17d4;
    backdrop-filter: blur(10px);
    max-width: 100vw;
    max-height: 100vh;
    min-height: 100vh;
    width: 100%;
    height: 100vh;
    overflow: auto;
}
.main-screen > .left {
    flex: 1;
    flex-basis: 40%;
    padding: 15vh 10vw 5vh 5vw;
}
.main-screen > .right {
    flex: 2;
    flex-basis: 60%;
    max-height: 100%;
    overflow: auto;
}

.main-screen .personal-info {

}
.main-screen .personal-info .nickname {
    font-size: 4rem;
    font-weight: 800;
    color: #fafff2df;
    letter-spacing: 1.5px;    
}
.main-screen .personal-info .role {
    font-size: 1.375rem;
    font-weight: 500;
    color: #000;
    background: linear-gradient(90deg, #7bf74d 0%, #93ee00 100%);
    padding: 0 1rem;
    border-radius: 5px;
}
.main-screen .personal-info .summary {
    margin-top: 1.25rem;
    margin-bottom: 1.5rem;
}
.main-screen .navigator {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 1.5rem;
    padding: 3rem 0 1rem;
}
.main-screen .navigator > .nav-link {
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.main-screen .navigator > .nav-link .line{
    width: 30px;
    height: 3px;
    background: #bdf8a4ab;
    transition: all .25s ease-in-out;
}
.main-screen .navigator > .nav-link span{
    font-size: .875rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: #f2f2f256;
}
.main-screen .navigator > .nav-link.bolded .line, .main-screen .navigator > .nav-link:hover .line{
    width: 70px;
    height: 3px;
    background: linear-gradient(90deg, #7bf74d 0%, #93ee00 100%);
}
.main-screen .navigator > .nav-link.bolded span, .main-screen .navigator > .nav-link:hover span{
    font-weight: 700;
    letter-spacing: 1px;
    color: #7bf74d;
}
.main-screen .directions {
    position: absolute;
    bottom: 5vh;
    display: flex;
    align-items: center;
    gap: 2rem;
}
.main-screen .directions > .nav-link{

}
.main-screen .directions > .nav-link i{
    font-size: 2.5rem;
    color: #598049;
}
.main-screen .directions > .nav-link:hover i{
    color: var(--main);
}
.main-screen .intro {
    padding: 10vh 5vw 6vw 0vw;
}
.main-screen .intro p{
    font-size: 1.125rem;
}
.main-screen .intro p b{
    color: #7bf74d;
    font-weight: 600;
}

.main-screen .experience {
    padding: 10vh 2vw 6vw 0;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}
.main-screen .experience .exp-box {
    display: flex;
    align-items: start;
    padding: 1rem;
    background: #59804914;
    border-radius: 8px;
}
.main-screen .experience .exp-box .date{
    flex-basis: 9rem;
    min-width: 9rem;
    flex: 1;
    flex-wrap: nowrap;
    font-size: .75rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-top: .375rem;


}
.main-screen .experience .exp-box .info{
    
}
.main-screen .experience .exp-box .title{
    font-size: 1.25rem;
    font-weight: 500;
    color: #f2f2f2;
}
.main-screen .experience .exp-box .company{
    font-size: 1rem;
    color: var(--main);
}
.main-screen .experience .exp-box .desc{
    margin-top: .75rem;
    font-size: 1rem;
    font-weight: 300;
}
.main-screen .experience .exp-box .badget-list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
}
.main-screen .experience .exp-box .badget-list .badget{
    border: 2px solid var(--dark);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: .75rem;
    padding: 1.5px .5rem;
    border-radius: 5px;

}
.main-screen .experience .more, .main-screen .project .more {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    padding: .5rem;
}
.main-screen .experience .more span, .main-screen .project .more span{
    font-size: 1rem;
    font-weight: 500;
    color: #f2f2f2c1;
}
.main-screen .experience .more i, .main-screen .project .more i{
    font-size: 1.125rem;
    color: #f2f2f2c1;
}
.main-screen .experience .more:hover {
}
.main-screen .experience .more:hover span, .main-screen .project .more:hover span{
    color: #93ee00;
}
.main-screen .experience .more:hover i, .main-screen .project .more:hover i{
    font-size: 1.125rem;
    color: #93ee00;
}

.main-screen .project {
    padding: 10vh 2vw 6vw 0vw;
}
.main-screen .project .project-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.main-screen .project .project-list > .projectnav {
    padding: 1rem;
    background: #59804914;
    border-radius: 8px;
    text-decoration: none;
}
.main-screen .project .project-list > .projectnav .first {
    display: flex;
    align-items: start;
    gap: 1.25rem;
}
.main-screen .project .project-list > .projectnav .first img.thumbnail {
    min-width: 120px;
    width: 120px;
    min-height: 80px;
    height: auto;
}
.main-screen .project .project-list > .projectnav .first .info {
    
}
.main-screen .project .project-list > .projectnav .first .info .name {
    color: #f2f2f2;
    font-size: 1.1rem;
    margin-bottom: .25rem;
}
.main-screen .project .project-list > .projectnav .first .info .badget-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: .5rem 0 .75rem;
}
.main-screen .project .project-list > .projectnav .first .info .badget-list .badget{
    font-size: .813rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    background: #4e9e2f4d;
    color: #93ee00;
    padding: 0px .5rem;
    border-radius: 5px;
}
.main-screen .project .project-list > .projectnav .first .info .desc {
    font-size: .875rem;
    color: #f2f2f2a0;
    font-weight: 300;
}
.main-screen .project .project-list > .projectnav .secondary {
    display: none;
    gap: .375rem;
    flex-direction: row;
    padding: 1rem 0 0;
}
.main-screen .project .project-list > .projectnav .secondary > div {
    width: 50%;
}
.main-screen .project .project-list > .projectnav .secondary > div .label{
    color: #7bf74d;
    letter-spacing: 1px;
    font-size: .875rem;
    text-transform: uppercase;
    font-weight: 700;
}
.main-screen .project .project-list > .projectnav .secondary > div .info{
    display: flex;
    gap: .25rem;
    flex-direction: column;
}
.main-screen .project .project-list > .projectnav .secondary > div .info .points{
    font-weight: 300;
    font-size: .813rem;
    color: #f2f2f2a0;
}
.main-screen .project .project-list > .projectnav .more {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    transition: all .15s ease-in;
}
.main-screen .project .project-list > .projectnav .more i{
    font-size: 1.125rem;
}
.main-screen .project .project-list > .projectnav .more span{
    font-size: .9rem;
}
.main-screen .project .project-list > .projectnav:hover .more {
    display: none;
}
.main-screen .project .project-list > .projectnav:hover .secondary {
    display: flex;
}
.main-screen .project .more {
    margin-top: 1rem;
}

.main-screen .footer {
    padding: 10vh 5vw 6vw 0vw;
}
.main-screen .footer span{
    color: #598049;
}


/* Projects listing Page */
.main-screen-list {
    padding: 3rem 5vw;
}
.main-screen-list .nav {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    padding-bottom: 1rem;
}
.main-screen-list .nav > a {
    outline: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: .5rem;
}
.main-screen-list .nav > a i{
    font-size: 1.5rem;
    color: #93ee00;
}
.main-screen-list .nav > a span{
    font-size: 1.25rem;
    color: #93ee00;
}
.main-screen-list .nav .title {
    font-size: 2rem;
    color: #f2f2f2;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.pro-listing {
    max-height: calc(100vh - 158px);
    overflow: auto;
}
.pro-listing .pro {
    width: 30%;
    background: #2c2e2c7b;
    margin: 3px;
    border-radius: 8px;
}
.pro .year {
    padding: 1rem 1.25rem .75rem;
    color: #f2f2f285;
    font-weight: 500;
    font-size: .875rem;
    letter-spacing: 1px;
}

.pro .thumb {
    width: 100%;
    height: auto;
    background: #131c10;
}

.pro .thumb img.thumbnail {
    width: 100%;
    height: auto;
}

.pro .builds {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem 1.25rem;
}

.pro .builds > div {
    font-size: .75rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #7bf74d;
    letter-spacing: 1px;
}

.pro .name {
    color: #f2f2f2;
    font-size: 1.125rem;
    margin-bottom: .25rem;
    padding: 0rem 1.25rem;
}
.pro .desc {
    padding: 0rem 1.25rem .5rem;
    font-size: .813rem;
}